---
Checks: '-*,clang-analyzer-*,bugprone-*,performance-*,readability-*,modernize-*,cppcoreguidelines-*,misc-*,-altera-unroll-loops,-altera-id-dependent-backward-branch'
CheckOptions: [{ key: misc-non-private-member-variables-in-classes, value: IgnoreClassesWithAllMemberVariablesBeingPublic }]
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
